<nav class="bg-[#2C2638] text-white px-6 py-4 flex justify-between items-center">
    <h1 class="text-2xl font-bold">Admin Dashboard</h1>

    <% if(isAdminLoggedIn) { %>
        <ul class="flex gap-6">
            <li>
                <a href="/dashboard" class="text-xl hover:text-gray-200">Dashboard</a>
            </li>
            
            <li>
                <a href="/admin/logout" class="text-xl hover:text-gray-200">Logout</a>
            </li>
        </ul>
    <% } %> 
</nav>
