<%- layout("layout/boilerplate.ejs") %>

<section class="min-h-screen bg-gradient-to-br from-[#C5A059] via-[#2F2A38] to-[#F1EAD3]">

      <div class="flex flex-col justify-center items-center gap-10 text-center">
          <img src="/error/apple.avif" alt="apple" width="500" height="500" class="mt-40" />
          <h1 class="text-3xl font-bold">401 Unauthorized</h1>
          <p class="text-xl font-semibold">We couldn't validate your credentials. Please ask your manager to send you an invite through our product.</p>
          <a class="bg-blue-500 text-white font-semibold py-4 px-6 rounded-md text-xl " href="/admin/login">Take me back</a>
        </div>
  
</section>
